.THIS .loadingSpinnerBox {
    position: relative!important;
    display: inline-block!important;
    width:100%!important;
    margin-top:8%!important;
}

.THIS .errorMessage {
}

.THIS p{
    padding: 0em 1em ;
    line-height: 1.5em;
}

.THIS li{
    list-style-type: disc;
    margin-left: 3em;
}

.THIS hr{
    margin: 1em 0em!important;
}

.THIS .commentArea{
    padding: 0em 1em 0.5em;
    margin-top: -1.5em!important;
}