.THIS .spins::after {
    position: absolute;
    content: 'Please wait while cloning';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

@media (min-width:1025px) { /*Desktop Break point*/
.THIS.slds-spinner_container {
    top: 16% !important;
    bottom: 16% !important;
    }
}