.THIS .loadingSpinnerBox {
    position: relative!important;
    display: inline-block!important;
    width:100%!important;
    margin-top:8%!important;
}

.THIS p{
    padding: 0em 1em ;
    line-height: 1.5em;
}