<apex:page standardController="FSTR__Business_Process__c" extensions="FSTR.CustomObjectTargetList">
	<apex:slds />
	
	<c:CongaAnalyticsVFComponent />
	
	<apex:outputText value="{!$Label.fstr__pce_generating_merge}" rendered="{!pollEnabled}" style="font-weight: bold;font-size: 25px;font-style:italic;"/>
	<apex:outputpanel rendered="{!pollEnabled}"><br/><br/></apex:outputpanel>
	<apex:pageBlock id="pb">
		<apex:form >
			<apex:actionPoller action="{!doNothing}" oncomplete="window.top.location='/{!targetid}';" interval="5" enabled="{!pollEnabled}" />
		</apex:form>
		<apex:outputfield value="{!FSTR__Business_Process__c.FSTR__PCE_Definition__c}" rendered="false"/>
	    <apex:pageBlockTable value="{!mergeTargets}" var="c">
	        <apex:column headervalue="{!$ObjectType['orchmm__merge_history__c'].fields['name'].Label}">
	            <apex:outputlink value="/{!c['OrchMM__merge_history__c']}" target="_parent">{!c['OrchMM__merge_history__r.name']}</apex:outputlink>
	        </apex:column>
	        <apex:column headervalue="{!$ObjectType['orchmm__merge_template__c'].fields['name'].Label}">
	            <apex:outputlink value="/{!c['OrchMM__Merge_History__r.OrchMM__Merge_Template__c']}" target="_parent">{!c['OrchMM__Merge_History__r.OrchMM__Merge_Template__r.name']}</apex:outputlink>
	        </apex:column>
	        <apex:column headervalue="{!$ObjectType['orchmm__merge_history__c'].fields['OrchMM__Merge_status_code__c'].Label}" value="{!c['OrchMM__Merge_History__r.OrchMM__Merge_status_code__c']} "/>
	        <apex:column headervalue="{!$ObjectType['orchmm__merge_target__c'].fields['lastmodifieddate'].Label}" value="{!c['lastmodifieddate']} "/>
	        <apex:column value="{!c['LastModifiedBy.Name']}" >
	        	<apex:facet name="header">{!$Label.fstr__pce_last_modified_by}</apex:facet>
	        </apex:column>
	    </apex:pageBlockTable>
	</apex:pageBlock>
</apex:page>