<apex:page title="{!SUBSTITUTE($Label.fstr__pce_clone_object,'{{object}}',$ObjectType.FSTR__PCE_Step__c.label)}: {!FSTR__PCE_Step__c.Name}" standardController="FSTR__PCE_Step__c" extensions="FSTR.StepCloneExt" >
	
	<c:CongaAnalyticsVFComponent />
	
	<apex:sectionHeader title="{!SUBSTITUTE($Label.fstr__pce_clone_object,'{{object}}',$ObjectType.FSTR__PCE_Step__c.label)}" subTitle="{!FSTR__PCE_Step__c.Name}" />
	<apex:form >
        <apex:pageBlock id="mainBlock" title="{!SUBSTITUTE($Label.fstr__pce_object_clone,'{{object}}',$ObjectType.FSTR__PCE_Step__c.label)}" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!CloneStep}" value="{!$Label.fstr__pce_clone}" rendered="{!$ObjectType.FSTR__PCE_Step__c.createable}"/>
                <apex:commandButton action="{!cancel}" value="{!$Label.fstr__pce_cancel}"/>
            </apex:pageBlockButtons>
            <apex:pageMessages />
            <apex:pageBlockSection id="originfo" title="{!SUBSTITUTE($Label.fstr__pce_original_object_information,'{{object}}',$ObjectType.FSTR__PCE_Step__c.label)}" columns="2">
            	<apex:outputField value="{!FSTR__PCE_Step__c.Name}"/>
            	<apex:outputField value="{!FSTR__PCE_Step__c.FSTR__Definition__c}"/>
            	<apex:outputField value="{!FSTR__PCE_Step__c.FSTR__Parent_Step__c}"/>
            	<apex:outputField value="{!FSTR__PCE_Step__c.FSTR__Stage__c}"/>
				<apex:outputField value="{!FSTR__PCE_Step__c.FSTR__Parent_Stage__c}"/>
				<apex:outputField value="{!FSTR__PCE_Step__c.FSTR__Go_Back_To_Step__c}" rendered="{!FSTR__PCE_Step__c.FSTR__Go_Back_To_Step__c != null}"/>
            	<apex:outputField value="{!FSTR__PCE_Step__c.FSTR__Go_Back_To_Stage__c}" rendered="{!FSTR__PCE_Step__c.FSTR__Go_Back_To_Stage__c != null}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="info" title="{!SUBSTITUTE($Label.fstr__pce_cloned_object_information,'{{object}}',$ObjectType.FSTR__PCE_Step__c.label)}" columns="2">
            	<apex:inputField required="true" value="{!stepClone.Name}"/>
            	<apex:inputField required="true" value="{!stepClone.FSTR__Definition__c}"/>
            	<apex:inputField value="{!stepClone.FSTR__Parent_Step__c}"/>
            	<apex:inputField value="{!stepClone.FSTR__Stage__c}"/>
				<apex:inputField value="{!stepClone.FSTR__Parent_Stage__c}"/>
				<apex:inputField value="{!stepClone.FSTR__Go_Back_To_Step__c}" rendered="{!FSTR__PCE_Step__c.FSTR__Go_Back_To_Step__c != null || FSTR__PCE_Step__c.FSTR__Go_Back_To_Stage__c != null}"/>
            	<apex:inputField value="{!stepClone.FSTR__Go_Back_To_Stage__c}" rendered="{!PCE_Step__c.Go_Back_To_Step__c != null || PCE_Step__c.Go_Back_To_Stage__c != null }"/>
            </apex:pageBlockSection>
    	</apex:pageBlock>
	</apex:form>
</apex:page>