<apex:page title="{!SUBSTITUTE($Label.fstr__pce_object_list,'{{object}}',$ObjectType.FSTR__PCE_Definition_Criteria__c.label)}" standardcontroller="FSTR__PCE_Definition__c">
	
	<c:CongaAnalyticsVFComponent />
	
	<apex:pageBlock >     
	    <apex:pageBlockSection collapsible="false" title="{!$ObjectType.FSTR__PCE_Definition_Criteria__c.labelplural}" columns="1">
	    	<apex:pageBlockTable value="{!FSTR__PCE_Definition__c.PCE_Definition_Criteria__r}" var="item">
	            <apex:column value="{!item.FSTR__Object_Name__c}"/>
	            <apex:column value="{!item.FSTR__Field_Name__c}"/>
	            <apex:column value="{!item.FSTR__Operator__c}"/>
	            <apex:column value="{!item.FSTR__Field_Value__c}"/>   
	            <apex:column value="{!item.FSTR__DataType__c}"/>
	            <apex:column value="{!item.FSTR__Joining_Operator__c}"/>
	        </apex:pageBlockTable>
		</apex:pageBlockSection>
	</apex:pageBlock>
</apex:page>