<apex:page controller="FSTR.DeployController" >
    <c:CongaAnalyticsVFComponent />
    
    <apex:form id="Rform">
         <c:PCENewRecordPage theObjectName="lead" id="component1" />
    </apex:form>
</apex:page>