<apex:page controller="FSTR.ProcessDetailsController" contentType="{!contentType}" cache="{!cache}">
   
   <c:CongaAnalyticsVFComponent />

   <apex:pageBlock title="{!$Label.fstr__pce_congasetup_processdetails}">
      <apex:pageBlockTable value="{!ProcessDetails}" var="dtl">
         <apex:column headerValue="{!$Label.fstr__pce_client}" value="{!dtl.Client}"/>
         <apex:column headerValue="{!extraColLabel}" value="{!extraColValue}" rendered="{!optionalColumns=TRUE}"/>
         <apex:column headerValue="{!$Label.fstr__pce_process_name}" value="{!dtl.ProcessName}"/>
         <apex:column headerValue="{!SUBSTITUTE($Label.fstr__pce_object_name,'{{object}}',$ObjectType.FSTR__PCE_Step__c.label)}" value="{!dtl.StepName}"/>
         <apex:column headerValue="{!$Label.fstr__pce_due_date}" value="{!dtl.DueDate}"/>
         <apex:column headerValue="{!$Label.fstr__pce_status}" value="{!dtl.Status}"/>
         <apex:column headerValue="{!SUBSTITUTE($Label.fstr__pce_step_object_type,'{{Step}}',$ObjectType.FSTR__PCE_Step__c.label)}" value="{!dtl.StepObjectType}"/>
         <apex:column headerValue="{!$Label.fstr__pce_actual_estimated}" value="{!dtl.ActualOrEstimated}"/>
         <apex:column headerValue="{!$Label.fstr__pce_assignee}" value="{!dtl.Assignee}"/>         
         <apex:column headerValue="{!$Label.fstr__pce_role}" value="{!dtl.Role}"/>
         <apex:column headerValue="{!SUBSTITUTE($Label.fstr__pce_parent_step,'{{Step}}',$ObjectType.FSTR__PCE_Step__c.label)}" value="{!dtl.ParentStep}"/>
         <apex:column headerValue="{!$ObjectType.FSTR__PCE_Stage__c.label}" value="{!dtl.Stage}"/>   
         <!-- optional fields -->
         <apex:column headerValue="{!FieldLabel1}" rendered="{!AND(optionalFields=TRUE,isField1=TRUE)}" value="{!dtl.Field1}"/>   
         <apex:column headerValue="{!FieldLabel2}" rendered="{!AND(optionalFields=TRUE,isField2=TRUE)}" value="{!dtl.Field2}"/>   
      </apex:pageBlockTable>
   </apex:pageBlock>
</apex:page>