<apex:page showHeader="false" sidebar="false" standardController="FSTR__Business_Process__c" extensions="FSTR.NewBPController" standardStyleSheets="false">
    <apex:styleSheet value="{!$Resource.FSTR__one_style}"/>
 
    
    <script>
        (function() {
            var params = window.location.search;
            if( ('{!$User.UITheme}' == 'Theme4t')) {
                if(!{!versionA}){
                    window.location.href = '/apex/fstr__mBP_Selection'+params;
                    //document.getElementById('params').value = 'Params: ' + params;
                }
            } else {
                window.location.href = '/apex/fstr__BP_Redirect'+params;
            }
        }());
    </script> 
    
    <div class="container oneStyle oneOne tablet">
        <div class="dialog-wrapper uiPanelManager onePanelManager">
            <div class="fullScreen one forcePanelOverlay active">

                <div class="panel panelOverlay panelReady">
                    <header class="titleBar headerLayout uiBlock oneHeaderLayout">
                        <div class="bBody">
                            <div class="titles"><h2 class="title"></h2></div>
                            <button class="primaryButton default one uiBlock uiButton forceActionButton" onclick="sforce.one.createRecord('FSTR__Business_Process__c',document.getElementById('{!$Component.theform.bprecordtype}').value);"> 
                                <span class="label bBody truncate">{!$Label.PCE_Continue}</span>
                            </button>                            
                        </div>      
                    </header>
                    <div class="body fadeIn"> 
                        <apex:form id="theform" styleClass="forceDetailPanel">
                           <section >
                               <div class="full forcePageBlock forceRecordLayout">
                                   <section class="full oneCol forcePageBlockSection forcePageBlockSectionEdit">
                                   <h4 class="title primaryPaletteBorder">{!SUBSTITUTE(SUBSTITUTE($Label.PCE_Choose_Record_Type_For_New_Object_Record,'{{recType}}',$ObjectType.RecordType.label),'{{object}}',$ObjectType.Business_Process__c.label)}</h4>
                                 
                                   <div class="full forcePageBlockSectionRow">
                                       <div class="full forcePageBlockItem forcePageBlockItemEdit">
                                           <div class="uiInput uiInputSelect forceInputPicklist">
                                                <label class="uiLabel-left uiLabel" for="out_text" style="margin-bottom:7px;"><span>{!$ObjectType.RecordType.label}</span></label><br/>
                                                <apex:selectList value="{!SelectedRecordType}" id="bprecordtype" size="1" required="true">
                                                    <apex:selectOptions value="{!BPDefinitionRecordTypes}"/>
                                                </apex:selectList> 
                                                        <!-- <textarea id="params"></textarea>
                                                        <apex:outputText value="ClientId: {!Business_Process__c.client__c}"></apex:outputText> -->
                                            </div>
                                       </div>
                                   </div>
                                   </section>
                               </div>
                           </section>
                       </apex:form>
                    </div>
               </div>
            </div>
       </div>
    </div> 
</apex:page>